.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "leftcolumn rightcolumn rightcolumn";
    width: 60%;
    margin: auto;
}

.leftcolumn {
    grid-area: leftcolumn;
    margin-right: 20px;
    display: grid;
    grid-template-rows: 5% 1fr;
    grid-template-areas: 
        "vide"
        "resume-skills";
}

.rightcolumn {
    grid-area: rightcolumn;
    display: grid;
    grid-template-rows: 20% 1fr;
    grid-template-areas: 
        "header"
        "content";
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.st {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:#9DD9B5;
}

.resume-skills {
    grid-area: leftcolumn;
    background-color: #4DD7C3;
    border-radius: 30px;
}

#t1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #EC5136;
    margin-bottom: 0px;
}

#st1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color:black;
    margin-top: 0px;
}

h2 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#EC5136;
}

h3 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
}

.rightcontentli {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: grey;
    font-weight: 300;

}

.resume-skills li {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-weight: 300;

}

.resume-skills h2 {
    display: flex;
    justify-content: center;  
    color: whitesmoke;  
}

a {
    color:deeppink;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

img {
    width: 310px;
    height: 290px;
}

i {
    color: whitesmoke;
}

.resume-skills p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: whitesmoke;
}

.git {
    background-color: #EC5136;
    width: 20%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 15px;
}

.git a {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    text-decoration: none;
}

.git1 {
    display: flex;
    flex-direction: row;
}